<div class="container-xl">
  <h2 class="p-3">New Cocktail</h2>
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary w-100 pd-3' %>
    </div>
  <% end %>
  <%= link_to "Back to the list", cocktails_path, class: 'btn btn-primary w-100 mt-2' %>
</div>
