<div class="container">
  <h2 class="p-3">New Dose</h2>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.association :ingredient, collection: Ingredient.order('name ASC')%>
      <%= f.input :description %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary pd-3' %>
    </div>
  <% end %>
  <%= link_to "Back to the list", cocktails_path, class: 'btn btn-primary mt-2 mb-2' %>
</div>
